extends layout

block content
  h1= title
  p Welcome to #{title}
  button(type="button", class="btn btn-success",onclick="update()") press me
  br
  br
  div(id = "target") text of display
  br
  a(href='/phone') link to phone page
  
  script.
   var client_count=0;
     function update() {
       client_count++;
       document.getElementById("target").innerHTML=`Value now ${client_count}`;
     }